
  <div  class="col-sm-12 col-md-12 center contents">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">PUNTOS</th>
          <th scope="col">1</th>
          <th scope="col" class="message"></th>
          <th scope="col"></th>
          <!-- //TODO hacerlo como el reset button en la main barDISPARAR EVENTO CON NOMBRE DEL JUEGO Y VOLVER A CARGAR TABLA INICIO -->
          <!-- <th scope="col" id="newGameBtn" (click)="onBeginAnotherGame()">NEW GAME</th> -->
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  
    <div *ngIf="!gameIsFinished">
   
      <!-- <div class="move-me ">
        <img *ngIf="flagWrong" class="img-fluid center-flag ralph" src="assets/ralph.gif">
      </div> -->

      

      <!--  flags container-->
      <div class="flagsContainer row center-image"  expAnimation [eleAnimation]="'rotate_animation'">
        <div class="col-sm-12 col-md-12 center contents"  >
          <div *ngFor="let entity of gameEntitiesArr; index as i " >
            <app-object [entity]="entity" (entitySelectedEvent)="onFlagEvent($event)" ></app-object>
          </div>
        </div>
      </div>
  
    </div>
  
    <div *ngIf="resetGame" class="endGameRepeatDiv">
      <h1>OTRA PARTIDA?</h1>
      <h1 (click)="onBeginAnotherGame()" >SI</h1>
      <h1 (click)="onNotMoreGames()" >NO</h1>

      <div>SHARE ON COMMUNITIES</div>
    </div>
  
  </div>
  
  <div class="actualFlagName " expAnimation [eleAnimation]="'only_opacity'">
    <h1>{{gameSelectedEntityName}} </h1>
  </div>
<!-- 
  <div>
    <mat-progress-bar></mat-progress-bar>
  </div> -->