
  <div  class="col-sm-12 col-md-12 center contents">
  
    <table class="messagesTable">
      <thead>
        <tr>
          <th *ngIf="!showBonusMessageBoolean"scope="col">{{points}}</th>
          <th *ngIf="showBonusMessageBoolean" scope="col" class="message">{{answerMessage}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  
    <div *ngIf="!gameIsFinished">

      <div>
        <mat-progress-bar color="primary" value={{progressBarValue}}></mat-progress-bar>
      </div> 

      <!--  flags container-->
      <div class="flagsContainer row center-image" >
        <div class="col-sm-12 col-md-12 center contents"  >
          <div *ngFor="let entity of gameEntitiesArr; index as i " expAnimation [eleAnimation]="'puff_in'" >
            <app-object [entity]="entity" (entitySelectedEvent)="onFlagEvent($event)" ></app-object>
          </div>
        </div>
      </div>

    </div>
   

    <div *ngIf="resetGame" class="endGameRepeatDiv">
      <h1>OTRA PARTIDA?</h1>
      <h1 (click)="onBeginAnotherGame()" >SI</h1>
      <h1 (click)="onNotMoreGames()" >NO</h1>

      <div>SHARE ON COMMUNITIES</div>
    </div>
  
  </div>
  
  <div *ngIf="!gameIsFinished" class="actualFlagName " expAnimation [eleAnimation]="'only_opacity'">
    <h1 class="textActualFlag">{{gameSelectedEntityName}} </h1>
  </div>
