

.contents {
    display: contents;
  
  }
  
  .flex{
    display: flex;
    }
  
  .centerFlexContainer {
      margin-left: auto;
      margin-right: auto;
  }
  
  .flagsContainer {
    margin-top: 3vh;
  }
  
  .actualFlagName{
    font-size: 8vw;
    margin-bottom: 3vh;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
  .actualFlagName h1{
    font-size: inherit;
  }
  
  
  /*RALPH ANIMATION*/
  
  .ralph{
    display: overlay;
    position: absolute;
    width: 15vw;
  }
  
  .move-me {
    color: white;
    position: relative;
    margin: 0 0 10px 0;
  }
  
.table{
  background-color: indianred;
}

th, td{
  text-align: center;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

#newGameBtn{
    cursor: pointer;
    background-color: #DB3549 !important;        
    color: white;
    background-color: red;
}

#newGameBtn:hover {
  background-color: #C72333 !important;
}




.endGameRepeatDiv{
  font-size: 0.50em;
  color: white;
  font-family: initial;
  text-align: center;
}

/* css  flagname */

