

.contents {
    display: contents;
  
  }
  
  .flex{
    display: flex;
    }
  
  .centerFlexContainer {
      margin-left: auto;
      margin-right: auto;
  }
  
  .flagsContainer {
    margin-top: 3vh;
    margin-bottom: 6vw;
  }
  
  .actualFlagName {
    display: flex;
    /* align-items: center; */
    position: fixed;
    bottom: 0vw;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 5;
    display: inline;
    background: orange;
    box-shadow: 10px 0 0 orange, -10px 0 0 orange;
  }

  .actualFlagName h1{
    font-family: 'lato', 'arial', sans-serif;
  }

  .textActualFlag{
    display: inline;
    background: orange;
    line-height: 122%;
  }
  
  /*RALPH ANIMATION*/
  .ralph{
    display: overlay;
    position: absolute;
    width: 15vw;
  }
  
  .move-me {
    color: white;
    position: relative;
    margin: 0 0 10px 0;
  }
  
.messagesTable{
  background-color: indianred;
  font-family: 'lato', 'arial', sans-serif;
  width: 100%;
}

th, td{
  text-align: center;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

#newGameBtn{
    cursor: pointer;
    background-color: #DB3549 !important;        
    color: white;
    background-color: red;
}

#newGameBtn:hover {
  background-color: #C72333 !important;
}




.endGameRepeatDiv{
  font-size: 0.50em;
  color: white;
  font-family: initial;
  text-align: center;
}

mat-progress-bar{
  height: 15px;
}
/* css  flagname */

