<div expAnimation>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th class="topGames" scope="col">
          <div>
            <input matInput="" (keyup)="applyFilter($event.target.value)" placeholder="Game Filter">
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of gameInfo | filter : 'gameName' : searchString ; let indexOfgame=index;" (click)="emitEvent(game)" class="gameRow" >
        <td >{{game.gameName}}</td>
      </tr>
    </tbody>
  </table>
</div>
