

    <app-top-bar [gameHasBeenSelected]="gameHasBeenSelected"
                (onResetSelected)="resetTable()"
    ></app-top-bar>


  <app-games-table *ngIf="!gameHasBeenSelected "
                   [gameInfo] = "gamesNamesParent"
                   (onGameSelected)="tableGameSelected($event)"
                   expAnimation [eleAnimation]="eleAnimation"
                   
  ></app-games-table>

  <app-gen-game *ngIf="gameHasBeenSelected"
                [maxNumberOfItems]="itemsDisplayedOnTurn"
                [game]="gameSelected"
  ></app-gen-game> 

  <app-footer *ngIf="!gameHasBeenSelected"></app-footer>


<router-outlet></router-outlet>

