
  <div expAnimation [eleAnimation]="'slide_in_right'" >
    <app-top-bar [gameHasBeenSelected]="gameHasBeenSelected"
                 (onResetSelected)="resetTable()"
    ></app-top-bar>
  </div>

  <div expAnimation [eleAnimation]="'slide_in_elliptic_left'">
    <app-games-table *ngIf="!gameHasBeenSelected "
                     [gameInfo] = "gamesNamesParent"
                     (onGameSelected)="tableGameSelected($event)"
    ></app-games-table>
  </div>

  <app-gen-game *ngIf="gameHasBeenSelected"
                [game]="gameSelected"
  ></app-gen-game> 

  <!-- <div expAnimation [eleAnimation]="eleAnimation" class="footer">
      <app-footer *ngIf="!gameHasBeenSelected" 
      ></app-footer> 
  </div> -->


<router-outlet></router-outlet>

