/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%)
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
    font-family: lato;
    src: url(src/assets/fonts/Montserrat/Montserrat-Black.ttf) format("opentype");
  }


@media only screen and (max-width: 500) {
    
    .center-flag {
        width: 33vw;
    }
 
    .playerStats{
        font-size: 8vw;
    }

    .actualFlagName h1{
        font-size: 15vw;
    }
}

@media only screen and (min-width: 500px) {
    
    .center-flag {
        width: 31.9vw;
    }
 
    .playerStats{
        font-size: 8vw;
    }

    .actualFlagName h1{
        font-size: 17vw !important;

    }
}

@media only screen and (min-width: 600px) {
    .center-flag{
        width: 31.7vw;
    }

    .playerStats{
        font-size: 4vw;
    }

    .actualFlagName h1{
        font-size: 15vw !important;
    }
}

@media only screen and (min-width: 900px) {
    .center-flag{
        width: 19.5vw;
    }

    .playerStats{
        font-size: 3vw;
    }
    .actualFlagName h1{
        font-size: 15vw !important;
    }
}

@media only screen and (min-width: 1000px) {
    .center-flag{
        width: 19.8vw;;
    }

    .playerStats{
        font-size: 3vw;
    }
    .actualFlagName h1{
        font-size: 15vw !important;
    }
}

@media only screen and (min-width: 1193px) {
    .center-flag{
        width: 16.5vw;
    }

    .playerStats{
        font-size: 3vw ;
    }

    .actualFlagName h1{
        font-size: 11vw !important;
        bottom: 10% !important;
    }
}